doctype html
html.no-js(lang='zxx')
	head
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		link(rel='shortcut icon', href='img/fav.png')
		meta(name='author', content='Nischay Ram Mamidi')
		meta(name='description', content='')
		meta(name='keywords', content='')
		meta(charset='UTF-8')
		title Blood Donation
		link(href='https://fonts.googleapis.com/css?family=Poppins:300,500,600', rel='stylesheet')
		link(rel='stylesheet', href='css/linearicons.css')
		link(rel='stylesheet', href='css/font-awesome.min.css')
		link(rel='stylesheet', href='css/nice-select.css')
		link(rel='stylesheet', href='css/magnific-popup.css')
		link(rel='stylesheet', href='css/bootstrap.css')
		link(rel='stylesheet', href='css/main.css')
		style.
			.col-centered{
			float: none;
			margin: 0 auto;
			}
	body
		.oz-body-wrap
			.section-top-border
				.row
					.col-md-4.col-centered
						article.card-body
							h4.card-title.text-center.mb-6.mt-1 Sign Up
							hr
							p.text-success.text-center Enter your credentials
							form(action='' method='post')
								.form-group
									.input-group
										.input-group-prepend
										input.form-control(name='username', placeholder='Username', type='username')
								.form-group
									.input-group
										.input-group-prepend
										input.form-control(placeholder='******', type='password', name='password')
								.form-group
									button.btn.btn-primary.btn-block(type='submit')  Sign Up  
								p.text-center
									a(href='/login') Made an account already?
			script(src='js/vendor/jquery-2.2.4.min.js')
			script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js', integrity='sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4', crossorigin='anonymous')
			script(src='js/vendor/bootstrap.min.js')
			script(src='js/jquery.ajaxchimp.min.js')
			script(src='js/owl.carousel.min.js')
			script(src='js/jquery.nice-select.min.js')
			script(src='js/jquery.magnific-popup.min.js')
			script(src='js/main.js')
